<a href="https://colab.research.google.com/github/KDM777/AI_certificate/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A52%EA%B8%89_Day1%EC%9D%98_%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello python")

Hello python

# title 1
## title 2
### title 3
#### title 4
##### title 5

기대효과 : (event 가 발생할 확률) * (발생했을 때 impact)

- event 가 발생할 확률 :
    - 한국기업 : 매우 보수적 : 위험 회피적
        - 위험 = uncertainty
        - uncertainty != consistency

- 발생했을 때 impact <- 돈.

# Step 1. Task 설정

수익(profit)증가

profit = revenue - cost

- What : 2 지표를 기준으로 더이상 쪼개지지 않을때까지
    - 명확성
    - 세부성
- How
    - 데이터 유무
    - 데이터 형태
    - 평가

![image.png]()[링크 텍스트](https:// [링크 텍스트](https://))

머신러닝
  - 지도 (labeled data 사용)
    - 연속형 : 회귀(Regression)
    - 범주형/이산 : 분류(classification)
  - 비지도

연속형 vs 이산형 data

연속형(예측힘듦)
1. 값들 사이에 관계가 존재함.
1. 값들 사이에 무수한 수가 존재한다.

이산형(O2O는 여기에 해당)
1. 값들 사이에 관계가 없다.
1. 값들 사이에 무수한 수가 없다.

# Step 2 : Dataset 준비하기
수집-점검-이해-변환

2.1 : 데이터 수집
  -SQL
  -크롤링/스크래핑

2.2 점검
  -outlier / None(Null, NaN)

2.3 데이터 이해
  - 기초통계를 보는 이유
    - 데이터셋의 위치 파악
      - 평균/중앙값
    -형태
      - skerwaness, kurtosis
    -크기 (분산)
      - range / quartile

2.4 변환(Transformation)

# Numpy Stack
- numpy(numerical python) : array
- pandas : Dataframe 핸들링.
  - polars(lust 기반 pandas보다 수십배 빠름)
- matplotlib : 데이터 시각화
  - seaborn
- scipy(science python) : 수학/통계 함수/모델
  - 선대 / 미적분 / 행렬
- sklearn : 딥러닝을 제외한 머신러닝 모델들이 들어있음(인공신경만 없이)

# Numpy
Numerical + Python

- array 핸들링

array vs list
- 유연성
- 속도
- 공간(용량)

array
- inflexible(fixed)
- fast
- not space efficient
- 기본적으로 숫자취급 <-연산

In [ ]:
import numpy as np

In [ ]:
L=[1,2,3,4,5]
A = np.array([1,2,3,4,5])

In [ ]:
# 리스트는 기본적으로 문자 취급된다
type("10")

str

In [ ]:
L+L

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
A + A
# 어레이는 숫자 취급
# 수학연산이 요소단위로 적용된다. : element-wise calculation 항상 적용

array([ 2,  4,  6,  8, 10])

In [ ]:
L*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
A*5

array([ 5, 10, 15, 20, 25])

In [ ]:
# flexibility :
# list : 데이터의 추가/수정/삭제가 자유롭다.
# 데이터의 형식이 자유롭다.
L=[1,2,3,4,5, '김대민']
print(L[0], type(L[0]))
print(L[-1], type(L[-1]))

1 <class 'int'>
김대민 <class 'str'>

In [ ]:
A1 = np.array([1,2,3,4,5])
print("A1 dtype: ", A1.dtype)

A1 dtype:  int64

In [ ]:
A1 = np.array([1,2.1,3,4,5])
print("A1 dtype: ", A1.dtype)

A1 dtype:  float64

In [ ]:
A1=np.array(L)
print("A1 dtype: ", A1.dtype)

A1 dtype:  <U21

In [ ]:
A1 = np.array([1,2.1,3,4,'unicode'])
print("A1 dtype: ", A1.dtype)

A1 dtype:  <U32

![image.png]()

# 데이터 생성

In [ ]:
np.zeros((4, 7)) # row, col

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
np.ones((4, 7)) # row, col

array([[1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.]])

In [ ]:
np.zeros((4, 7)) + 0.5

array([[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5],
       [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5],
       [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5],
       [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]])

In [ ]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(3,10)

array([3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(3,10, 3)

array([3, 6, 9])

In [ ]:
np.arange(30,-10, -3)

array([30, 27, 24, 21, 18, 15, 12,  9,  6,  3,  0, -3, -6, -9])

In [ ]:
np.linspace(0, 10, 4) # 간격을 동일하게

array([ 0.        ,  3.33333333,  6.66666667, 10.        ])

In [ ]:
np.arange(30,-10, -3).shape # (row, col) 형태로 나옴 1은 미출력

(14,)

In [ ]:
np.arange(30,-10, -3).reshape(7,2) # 형태를 다르게

array([[30, 27],
       [24, 21],
       [18, 15],
       [12,  9],
       [ 6,  3],
       [ 0, -3],
       [-6, -9]])

In [ ]:
np.arange(30,-10, -3).reshape(7,-1) # -1은 7로 나누고 남은 걸로 구성하겠다는 의미

array([[30, 27],
       [24, 21],
       [18, 15],
       [12,  9],
       [ 6,  3],
       [ 0, -3],
       [-6, -9]])

In [ ]:
np.linspace(0, 10, 12) # 간격을 동일하게

array([ 0.        ,  0.90909091,  1.81818182,  2.72727273,  3.63636364,
        4.54545455,  5.45454545,  6.36363636,  7.27272727,  8.18181818,
        9.09090909, 10.        ])

In [ ]:
np.linspace(0, 10, 12).reshape(6,-1)

array([[ 0.        ,  0.90909091],
       [ 1.81818182,  2.72727273],
       [ 3.63636364,  4.54545455],
       [ 5.45454545,  6.36363636],
       [ 7.27272727,  8.18181818],
       [ 9.09090909, 10.        ]])

In [ ]:
np.linspace(0, 10, 12).reshape(-1,3)

array([[ 0.        ,  0.90909091,  1.81818182],
       [ 2.72727273,  3.63636364,  4.54545455],
       [ 5.45454545,  6.36363636,  7.27272727],
       [ 8.18181818,  9.09090909, 10.        ]])

In [ ]:
array1 = np.random.randn(3,3)
array1

array([[-0.22043563, -0.36511002,  0.53289494],
       [-0.35881861, -0.21137803, -0.81780701],
       [-1.45386672, -2.86074392, -0.32871779]])

In [ ]:
np.abs(array1)

array([[0.22043563, 0.36511002, 0.53289494],
       [0.35881861, 0.21137803, 0.81780701],
       [1.45386672, 2.86074392, 0.32871779]])

In [ ]:
np.square(array1)

array([[0.04859187, 0.13330533, 0.28397701],
       [0.1287508 , 0.04468067, 0.66880831],
       [2.11372845, 8.18385578, 0.10805538]])

In [ ]:
np.ceil(array1)

array([[-0., -0.,  1.],
       [-0., -0., -0.],
       [-1., -2., -0.]])

In [ ]:
np.floor(array1)

array([[-1., -1.,  0.],
       [-1., -1., -1.],
       [-2., -3., -1.]])

In [ ]:
np.sum()
np.cumsum()

In [ ]:
np.isnan(array1) # nan이 있는지 없는지 확인

array([[False, False, False],
       [False, False, False],
       [False, False, False]])

In [ ]:
np.isinf(array1) # 무한 수가 있는지 확인

array([[False, False, False],
       [False, False, False],
       [False, False, False]])

In [ ]:
array1=np.array([1,2,3])
array1

array([1, 2, 3])

In [ ]:
L=[[1,2,3],[4,5,6],[7,8,9]]
L

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
A=np.array(L)
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
A[1]

array([4, 5, 6])

In [ ]:
A[1][2]

6

In [ ]:
A[1,2]

6

![image.png]()

In [ ]:
B = np.arange(10,130,10).reshape(4,3)
B

array([[ 10,  20,  30],
       [ 40,  50,  60],
       [ 70,  80,  90],
       [100, 110, 120]])

In [ ]:
B[[0,1], [1,2]]

array([20, 60])

In [ ]:
B[0:2,1:3]

array([[20, 30],
       [50, 60]])

# Pandas
DataFrame Handling

## 데이터 불러오기

In [ ]:
# 작업폴더 설정
%cd /content/drive/MyDrive/실습용자료

# 현재 폴더 내용 조회
!ls

/content/drive/MyDrive/실습용자료
 1군전염병발병현황_년도별_2.csv   공부시간과시험점수2.csv
 adult.csv			  공부시간과시험점수3.csv
 adult.data			  공부시간과시험점수.csv
 adult.data.1			  공부시간과시험합격.csv
 adult_test.csv			  과일2개.csv
 blob.csv			  과일3개.csv
 BostonHousing.csv		  과일채소목록_2.csv
 breast_cancer.csv		  과일채소목록.csv
 BTC-USD.csv			  과학자들.csv
 cancer.csv			  네이버영화후기_전처리전.xlsx
 desktop.ini			  맨하탄주택가격.csv
 df_final.csv			  부품구입대장2.xls
 fish1.csv			  부품구입대장3.xls
 fish2.csv			  부품구입대장.xlsx
 fish3.csv			  붓꽃정보.csv
 fish.csv			  붓꽃_최종.csv
 fish_perch3.csv		  사무용비품신청내역.xlsx
 fish_perch.csv			  사원별판매현황_홍길동.csv
 heart.jpg			  사원별판매현황_홍길동_utf8.csv
 iris.csv			  상세거래내역_1.csv
 korea.jpg			  상세거래내역_2.csv
 out_sample.csv			  상품내역_마스터.csv
'sbux (1).csv'			  수박과참외.csv
 SBUX.csv			  와인.csv
 score.xlsx			  음식.csv
 thyroid0387.data		  의사결정나무_과일종류_2가지.csv
 wave.csv			  키와뭄무게.csv
 거래내역_1.csv			  학생_만족도_조사_실습.xlsx
 거래내역_2.csv			  학생별과목별성적_3명.csv
 고객과금장부.xlsx		  홍길동시험점수.csv
 고객정보_마스터.csv

In [ ]:
path='/content/drive/MyDrive/실습용자료'

import pandas as pd

df = pd.read_csv('사원별판매현황_홍길동_utf8.csv')
df

    이름   요일   실적
0  홍길동  월요일  100
1  홍길동  화요일   70
2  홍길동  수요일   80
3  홍길동  목요일   85
4  홍길동  금요일   65
5  홍길동  토요일   95
6  홍길동  일요일  120

In [ ]:
# encoding을 ANSI로 대체한
df = pd.read_csv('사원별판매현황_홍길동.csv', encoding='cp949')
df

    이름   요일   실적
0  홍길동  월요일  100
1  홍길동  화요일   70
2  홍길동  수요일   80
3  홍길동  목요일   85
4  홍길동  금요일   65
5  홍길동  토요일   95
6  홍길동  일요일  120

In [ ]:
df = pd.read_excel('사무용비품신청내역.xlsx')
df

,Unnamed: 0,부서별 사무용품 신청 내역,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,신청일,신청부서,신청인,품목명,신청수량,단가,금액
1,NaN,2019-01-03 00:00:00,전략기획실,김선호,레이저프린터토너,2,78000,181600
2,NaN,2019-01-03 00:00:00,기획조정실,어우동,USB,1,28000,33000
3,NaN,2019-01-04 00:00:00,전략기획실,김선호,포장용테이프,1,5300,8400
4,NaN,2019-01-04 00:00:00,전산팀,유관순,A4용지,3,8000,96000
...,...,...,...,...,...,...,...,...
251,NaN,2019-12-21 00:00:00,인사팀,손기동,프러스펜,1,2200,2200
252,NaN,2019-12-28 00:00:00,홍보팀,차시연,코시 에코 허브,2,15300,30600
253,NaN,2019-12-29 00:00:00,경영지원팀,서진수,A4용지,5,24000,120000
254,NaN,2019-12-30 00:00:00,총무팀,서채원,프린터토너(삼성ML2850A),2,75000,150000
255,NaN,2019-12-30 00:00:00,총무팀,서채원,한솔A4용지,4,23000,92000

In [ ]:
df = pd.read_csv('SBUX.csv', encoding='cp949')
df

,date,open,high,low,close,volume,Name,vo_spike,VO_upperline,VO_lowerline,MS_YS1,MS_RK3,MS_RK4,MS_RK5,MS_RK6,MS_UP,MS_DOWN,MS_Oo,MS_CC,MS_COLOR
0,2013-02-08,27.920,28.325,27.920,28.185,7146296,SBUX,0.265,NaN,NaN,28.15375,5.000000,NaN,NaN,5.000000,5.000000,5.000000,NaN,NaN,NaN
1,2013-02-11,28.260,28.260,27.930,28.070,5457354,SBUX,-0.190,NaN,NaN,28.08250,0.333333,NaN,NaN,0.333333,0.333333,0.333333,NaN,NaN,NaN
2,2013-02-12,28.000,28.275,27.975,28.130,8665592,SBUX,0.130,NaN,NaN,28.12750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-02-13,28.230,28.230,27.750,27.915,7022056,SBUX,-0.315,NaN,NaN,27.95250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-02-14,27.765,27.905,27.675,27.775,8899188,SBUX,0.010,NaN,NaN,27.78250,28.019750,0.153553,-309.014391,-309.014391,-101.227019,-31.964562,-101.227019,-31.964562,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2018-02-01,56.280,56.420,55.890,56.000,14690146,SBUX,-0.280,0.458432,-0.458432,56.07750,58.398634,0.599154,-774.803740,-198.971163,204.764726,431.064011,204.764726,431.064011,red
1255,2018-02-02,55.900,56.320,55.700,55.770,15358909,SBUX,-0.130,0.456178,-0.456178,55.89000,57.913256,0.653311,-619.385023,-222.213237,84.581747,398.371782,84.581747,398.371782,red
1256,2018-02-05,55.530,56.260,54.570,54.690,16059955,SBUX,-0.840,0.459153,-0.459153,55.05250,57.301337,0.852517,-527.575825,-406.410071,-9.935890,333.836097,-9.935890,333.836097,red
1257,2018-02-06,53.685,56.060,53.560,55.610,17415065,SBUX,1.925,0.497112,-0.497112,55.21000,56.830892,0.756855,-428.322932,-477.401722,-80.695005,250.751314,-80.695005,250.751314,red
1258,2018-02-07,55.080,55.430,54.440,54.460,13927022,SBUX,-0.620,0.501197,-0.501197,54.69750,56.238094,0.580607,-530.684149,-494.126423,-189.266694,163.855579,-189.266694,163.855579,red

In [ ]:
df.head()

,date,open,high,low,close,volume,Name,vo_spike,VO_upperline,VO_lowerline,MS_YS1,MS_RK3,MS_RK4,MS_RK5,MS_RK6,MS_UP,MS_DOWN,MS_Oo,MS_CC,MS_COLOR
0,2013-02-08,27.920,28.325,27.920,28.185,7146296,SBUX,0.265,NaN,NaN,28.15375,5.000000,NaN,NaN,5.000000,5.000000,5.000000,NaN,NaN,NaN
1,2013-02-11,28.260,28.260,27.930,28.070,5457354,SBUX,-0.190,NaN,NaN,28.08250,0.333333,NaN,NaN,0.333333,0.333333,0.333333,NaN,NaN,NaN
2,2013-02-12,28.000,28.275,27.975,28.130,8665592,SBUX,0.130,NaN,NaN,28.12750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-02-13,28.230,28.230,27.750,27.915,7022056,SBUX,-0.315,NaN,NaN,27.95250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-02-14,27.765,27.905,27.675,27.775,8899188,SBUX,0.010,NaN,NaN,27.78250,28.019750,0.153553,-309.014391,-309.014391,-101.227019,-31.964562,-101.227019,-31.964562,red

In [ ]:
n_row=df.shape[0]

1259

In [ ]:
df.info() # 데이터를 집약적으로 확인할

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1259 non-null   object
 1   open          1259 non-null   float64
 2   high          1259 non-null   float64
 3   low           1259 non-null   float64
 4   close         1259 non-null   float64
 5   volume        1259 non-null   int64
 6   Name          1259 non-null   object
 7   vo_spike      1259 non-null   float64
 8   VO_upperline  1161 non-null   float64
 9   VO_lowerline  1161 non-null   float64
 10  MS_YS1        1259 non-null   float64
 11  MS_RK3        1257 non-null   float64
 12  MS_RK4        1255 non-null   float64
 13  MS_RK5        1255 non-null   float64
 14  MS_RK6        1257 non-null   float64
 15  MS_UP         1257 non-null   float64
 16  MS_DOWN       1257 non-null   float64
 17  MS_Oo         1255 non-null   float64
 18  MS_CC         1255 non-null   float64
 19  MS_COLOR      1255 non-null   object
dtypes: float64(16), int64(1), object(3)
memory usage: 196.8+ KB

In [ ]:
df.describe()

,open,high,low,close,volume,vo_spike,VO_upperline,VO_lowerline,MS_YS1,MS_RK3,MS_RK4,MS_RK5,MS_RK6,MS_UP,MS_DOWN,MS_Oo,MS_CC
count,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000,1161.000000,1161.000000,1259.000000,1257.000000,1255.000000,1255.000000,1257.000000,1257.000000,1257.000000,1255.000000,1255.000000
mean,48.344296,48.717212,47.956827,48.352246,9.230517e+06,0.007950,0.492106,-0.492106,48.344633,48.248638,0.464295,62.305103,63.021841,63.854284,63.732054,3.051625,124.729537
std,10.389108,10.458485,10.304082,10.391867,4.382209e+06,0.509309,0.154861,0.154861,10.384290,10.524719,0.362421,344.408343,253.741454,217.900271,197.908387,202.442016,195.915990
min,26.535000,26.820000,26.260000,26.605000,2.215418e+06,-3.610000,0.264600,-0.899125,26.607500,0.333333,0.037135,-1095.994263,-629.056065,-468.131155,-412.751152,-468.131155,-401.920487
25%,38.372500,38.690650,38.087750,38.355000,6.661026e+06,-0.280000,0.408980,-0.516346,38.395313,38.351332,0.249776,-249.066447,-133.764014,-96.641867,-81.784086,-141.592218,-21.090135
50%,53.520000,53.995000,53.180000,53.540000,8.138313e+06,0.015000,0.450448,-0.450448,53.542500,53.648651,0.366026,111.966344,72.497395,73.638238,70.556898,2.665734,143.192889
75%,57.270000,57.735000,56.850000,57.360000,1.059388e+07,0.300000,0.516346,-0.408980,57.346250,57.241445,0.580783,346.400750,267.626698,233.369394,217.268378,157.773380,274.530012
max,64.850000,64.870000,64.180000,64.570000,5.345479e+07,2.290000,0.899125,-0.264600,64.397500,63.944048,3.759632,1562.082377,783.183349,546.327676,487.350570,463.098341,546.327676

# 데이터 조회하기

## col 단위 조회

In [ ]:
df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'Name', 'vo_spike',
       'VO_upperline', 'VO_lowerline', 'MS_YS1', 'MS_RK3', 'MS_RK4', 'MS_RK5',
       'MS_RK6', 'MS_UP', 'MS_DOWN', 'MS_Oo', 'MS_CC', 'MS_COLOR'],
      dtype='object')

In [ ]:
df['close'] # 한 줄 데이터는 series 데이터라고 한다.

0       28.185
1       28.070
2       28.130
3       27.915
4       27.775
         ...
1254    56.000
1255    55.770
1256    54.690
1257    55.610
1258    54.460
Name: close, Length: 1259, dtype: float64

In [ ]:
df[['close', 'volume']] # 두 줄부터 dataframe이라고 한다.

       close    volume
0     28.185   7146296
1     28.070   5457354
2     28.130   8665592
3     27.915   7022056
4     27.775   8899188
...      ...       ...
1254  56.000  14690146
1255  55.770  15358909
1256  54.690  16059955
1257  55.610  17415065
1258  54.460  13927022

[1259 rows x 2 columns]

In [ ]:
df=df[['date', 'open', 'high', 'low', 'close', 'volume', 'Name']]
df

            date    open    high     low   close    volume  Name
0     2013-02-08  27.920  28.325  27.920  28.185   7146296  SBUX
1     2013-02-11  28.260  28.260  27.930  28.070   5457354  SBUX
2     2013-02-12  28.000  28.275  27.975  28.130   8665592  SBUX
3     2013-02-13  28.230  28.230  27.750  27.915   7022056  SBUX
4     2013-02-14  27.765  27.905  27.675  27.775   8899188  SBUX
...          ...     ...     ...     ...     ...       ...   ...
1254  2018-02-01  56.280  56.420  55.890  56.000  14690146  SBUX
1255  2018-02-02  55.900  56.320  55.700  55.770  15358909  SBUX
1256  2018-02-05  55.530  56.260  54.570  54.690  16059955  SBUX
1257  2018-02-06  53.685  56.060  53.560  55.610  17415065  SBUX
1258  2018-02-07  55.080  55.430  54.440  54.460  13927022  SBUX

[1259 rows x 7 columns]

In [ ]:
df.columns
df.columns=['date', 'open', 'high', 'low', 'close', 'volume', 'name'] # Name->name으로 바꾸기
df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'name'], dtype='object')

In [ ]:
df2=df[df.columns.difference(['open', 'high', 'low'])] # 리스트 형식으로
df2

       close        date  name    volume
0     28.185  2013-02-08  SBUX   7146296
1     28.070  2013-02-11  SBUX   5457354
2     28.130  2013-02-12  SBUX   8665592
3     27.915  2013-02-13  SBUX   7022056
4     27.775  2013-02-14  SBUX   8899188
...      ...         ...   ...       ...
1254  56.000  2018-02-01  SBUX  14690146
1255  55.770  2018-02-02  SBUX  15358909
1256  54.690  2018-02-05  SBUX  16059955
1257  55.610  2018-02-06  SBUX  17415065
1258  54.460  2018-02-07  SBUX  13927022

[1259 rows x 4 columns]

## Row 조회

- loc : locate key를 기준으로 찾아내다
- iloc : index locate 인덱스(순서)를 기준으로 찾아내다

In [ ]:
df

            date    open    high     low   close    volume  name
0     2013-02-08  27.920  28.325  27.920  28.185   7146296  SBUX
1     2013-02-11  28.260  28.260  27.930  28.070   5457354  SBUX
2     2013-02-12  28.000  28.275  27.975  28.130   8665592  SBUX
3     2013-02-13  28.230  28.230  27.750  27.915   7022056  SBUX
4     2013-02-14  27.765  27.905  27.675  27.775   8899188  SBUX
...          ...     ...     ...     ...     ...       ...   ...
1254  2018-02-01  56.280  56.420  55.890  56.000  14690146  SBUX
1255  2018-02-02  55.900  56.320  55.700  55.770  15358909  SBUX
1256  2018-02-05  55.530  56.260  54.570  54.690  16059955  SBUX
1257  2018-02-06  53.685  56.060  53.560  55.610  17415065  SBUX
1258  2018-02-07  55.080  55.430  54.440  54.460  13927022  SBUX

[1259 rows x 7 columns]

In [ ]:
df.iloc[0]

date      2013-02-08
open           27.92
high          28.325
low            27.92
close         28.185
volume       7146296
name            SBUX
Name: 0, dtype: object

In [ ]:
df.loc[0] #순서

date      2013-02-08
open           27.92
high          28.325
low            27.92
close         28.185
volume       7146296
name            SBUX
Name: 0, dtype: object

In [ ]:
#df=df.set_index('date')
df

              open    high     low   close    volume  name
date
2013-02-08  27.920  28.325  27.920  28.185   7146296  SBUX
2013-02-11  28.260  28.260  27.930  28.070   5457354  SBUX
2013-02-12  28.000  28.275  27.975  28.130   8665592  SBUX
2013-02-13  28.230  28.230  27.750  27.915   7022056  SBUX
2013-02-14  27.765  27.905  27.675  27.775   8899188  SBUX
...            ...     ...     ...     ...       ...   ...
2018-02-01  56.280  56.420  55.890  56.000  14690146  SBUX
2018-02-02  55.900  56.320  55.700  55.770  15358909  SBUX
2018-02-05  55.530  56.260  54.570  54.690  16059955  SBUX
2018-02-06  53.685  56.060  53.560  55.610  17415065  SBUX
2018-02-07  55.080  55.430  54.440  54.460  13927022  SBUX

[1259 rows x 6 columns]

In [ ]:
df.iloc[0]

open        27.92
high       28.325
low         27.92
close      28.185
volume    7146296
name         SBUX
Name: 2013-02-08, dtype: object

In [ ]:
df.loc[0]

KeyError: ignored

In [ ]:
df.loc['2018-02-01']

open         56.28
high         56.42
low          55.89
close         56.0
volume    14690146
name          SBUX
Name: 2018-02-01, dtype: object

In [ ]:
df=pd.read_csv('SBUX.csv', index_col='date')
df

,open,high,low,close,volume,Name,vo_spike,VO_upperline,VO_lowerline,MS_YS1,MS_RK3,MS_RK4,MS_RK5,MS_RK6,MS_UP,MS_DOWN,MS_Oo,MS_CC,MS_COLOR
date,,,,,,,,,,,,,,,,,,,
2013-02-08,27.920,28.325,27.920,28.185,7146296,SBUX,0.265,NaN,NaN,28.15375,5.000000,NaN,NaN,5.000000,5.000000,5.000000,NaN,NaN,NaN
2013-02-11,28.260,28.260,27.930,28.070,5457354,SBUX,-0.190,NaN,NaN,28.08250,0.333333,NaN,NaN,0.333333,0.333333,0.333333,NaN,NaN,NaN
2013-02-12,28.000,28.275,27.975,28.130,8665592,SBUX,0.130,NaN,NaN,28.12750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-13,28.230,28.230,27.750,27.915,7022056,SBUX,-0.315,NaN,NaN,27.95250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-14,27.765,27.905,27.675,27.775,8899188,SBUX,0.010,NaN,NaN,27.78250,28.019750,0.153553,-309.014391,-309.014391,-101.227019,-31.964562,-101.227019,-31.964562,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-01,56.280,56.420,55.890,56.000,14690146,SBUX,-0.280,0.458432,-0.458432,56.07750,58.398634,0.599154,-774.803740,-198.971163,204.764726,431.064011,204.764726,431.064011,red
2018-02-02,55.900,56.320,55.700,55.770,15358909,SBUX,-0.130,0.456178,-0.456178,55.89000,57.913256,0.653311,-619.385023,-222.213237,84.581747,398.371782,84.581747,398.371782,red
2018-02-05,55.530,56.260,54.570,54.690,16059955,SBUX,-0.840,0.459153,-0.459153,55.05250,57.301337,0.852517,-527.575825,-406.410071,-9.935890,333.836097,-9.935890,333.836097,red
2018-02-06,53.685,56.060,53.560,55.610,17415065,SBUX,1.925,0.497112,-0.497112,55.21000,56.830892,0.756855,-428.322932,-477.401722,-80.695005,250.751314,-80.695005,250.751314,red
2018-02-07,55.080,55.430,54.440,54.460,13927022,SBUX,-0.620,0.501197,-0.501197,54.69750,56.238094,0.580607,-530.684149,-494.126423,-189.266694,163.855579,-189.266694,163.855579,red

In [ ]:
df.iloc[0:100]

,open,high,low,close,volume,Name,vo_spike,VO_upperline,VO_lowerline,MS_YS1,MS_RK3,MS_RK4,MS_RK5,MS_RK6,MS_UP,MS_DOWN,MS_Oo,MS_CC,MS_COLOR
date,,,,,,,,,,,,,,,,,,,
2013-02-08,27.920,28.3250,27.9200,28.185,7146296,SBUX,0.265,NaN,NaN,28.153750,5.000000,NaN,NaN,5.000000,5.000000,5.000000,NaN,NaN,NaN
2013-02-11,28.260,28.2600,27.9300,28.070,5457354,SBUX,-0.190,NaN,NaN,28.082500,0.333333,NaN,NaN,0.333333,0.333333,0.333333,NaN,NaN,NaN
2013-02-12,28.000,28.2750,27.9750,28.130,8665592,SBUX,0.130,NaN,NaN,28.127500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-13,28.230,28.2300,27.7500,27.915,7022056,SBUX,-0.315,NaN,NaN,27.952500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-14,27.765,27.9050,27.6750,27.775,8899188,SBUX,0.010,NaN,NaN,27.782500,28.019750,0.153553,-309.014391,-309.014391,-101.227019,-31.964562,-101.227019,-31.964562,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-06-26,32.685,33.3546,32.4455,32.900,9545442,SBUX,0.215,NaN,NaN,32.900025,32.524120,0.353619,212.604213,-100.731257,255.022945,153.725000,153.725000,255.022945,GREEN
2013-06-27,33.135,33.2500,32.8250,32.845,6292594,SBUX,-0.290,NaN,NaN,32.941250,32.486080,0.399801,227.698292,-118.796022,174.886777,199.263008,174.886777,199.263008,red
2013-06-28,32.755,33.1250,32.7000,32.755,10836506,SBUX,0.000,NaN,NaN,32.833750,32.624062,0.415518,100.928700,-8.329277,83.014099,217.849654,83.014099,217.849654,red
2013-07-01,33.045,33.2450,32.9100,33.120,6692040,SBUX,0.075,0.294735,-0.294735,33.098750,32.729791,0.257727,286.317730,70.346579,15.744059,203.528695,15.744059,203.528695,red
2013-07-02,33.120,33.6000,33.0400,33.395,6765528,SBUX,0.275,0.294814,-0.294814,33.357500,32.764444,0.209283,566.751294,80.540620,7.719613,163.357163,7.719613,163.357163,red

In [ ]:
df.loc['2013-06-26':'2013-07-02']

,open,high,low,close,volume,Name,vo_spike,VO_upperline,VO_lowerline,MS_YS1,MS_RK3,MS_RK4,MS_RK5,MS_RK6,MS_UP,MS_DOWN,MS_Oo,MS_CC,MS_COLOR
date,,,,,,,,,,,,,,,,,,,
2013-06-26,32.685,33.3546,32.4455,32.900,9545442,SBUX,0.215,NaN,NaN,32.900025,32.524120,0.353619,212.604213,-100.731257,255.022945,153.725000,153.725000,255.022945,GREEN
2013-06-27,33.135,33.2500,32.8250,32.845,6292594,SBUX,-0.290,NaN,NaN,32.941250,32.486080,0.399801,227.698292,-118.796022,174.886777,199.263008,174.886777,199.263008,red
2013-06-28,32.755,33.1250,32.7000,32.755,10836506,SBUX,0.000,NaN,NaN,32.833750,32.624062,0.415518,100.928700,-8.329277,83.014099,217.849654,83.014099,217.849654,red
2013-07-01,33.045,33.2450,32.9100,33.120,6692040,SBUX,0.075,0.294735,-0.294735,33.098750,32.729791,0.257727,286.317730,70.346579,15.744059,203.528695,15.744059,203.528695,red
2013-07-02,33.120,33.6000,33.0400,33.395,6765528,SBUX,0.275,0.294814,-0.294814,33.357500,32.764444,0.209283,566.751294,80.540620,7.719613,163.357163,7.719613,163.357163,red

In [ ]:
df[['close','volume']]

             close    volume
date
2013-02-08  28.185   7146296
2013-02-11  28.070   5457354
2013-02-12  28.130   8665592
2013-02-13  27.915   7022056
2013-02-14  27.775   8899188
...            ...       ...
2018-02-01  56.000  14690146
2018-02-02  55.770  15358909
2018-02-05  54.690  16059955
2018-02-06  55.610  17415065
2018-02-07  54.460  13927022

[1259 rows x 2 columns]

In [ ]:
df.loc['2013-06-26':'2013-07-02', ['close','volume']] # 특정 row 특정 col

             close    volume
date
2013-06-26  32.900   9545442
2013-06-27  32.845   6292594
2013-06-28  32.755  10836506
2013-07-01  33.120   6692040
2013-07-02  33.395   6765528

## 조건부 조회

In [ ]:
df['close'] > 60  #조건에 맞는 것만 출력

date
2013-02-08    False
2013-02-11    False
2013-02-12    False
2013-02-13    False
2013-02-14    False
              ...
2018-02-01    False
2018-02-02    False
2018-02-05    False
2018-02-06    False
2018-02-07    False
Name: close, Length: 1259, dtype: bool

In [ ]:

df[df['close'] > 64]

,open,high,low,close,volume,Name,vo_spike,VO_upperline,VO_lowerline,MS_YS1,MS_RK3,MS_RK4,MS_RK5,MS_RK6,MS_UP,MS_DOWN,MS_Oo,MS_CC,MS_COLOR
date,,,,,,,,,,,,,,,,,,,
2017-06-02,63.88,64.68,63.70,64.57,7840374,SBUX,0.69,0.430749,-0.430749,64.3800,62.847055,0.470487,651.641540,348.512525,187.207823,-59.268560,-59.268560,187.207823,GREEN
2017-06-05,64.85,64.87,64.18,64.27,6809284,SBUX,-0.58,0.435528,-0.435528,64.3975,63.120537,0.531327,480.669621,441.370078,239.224391,-3.623807,-3.623807,239.224391,GREEN
2017-06-06,64.22,64.35,64.05,64.16,5448439,SBUX,-0.06,0.435741,-0.435741,64.1800,63.540358,0.423163,302.314803,511.460566,275.653769,59.986736,59.986736,275.653769,GREEN

In [ ]:
df.loc[df['close'] > 64, ['close','volume']]

            close   volume
date
2017-06-02  64.57  7840374
2017-06-05  64.27  6809284
2017-06-06  64.16  5448439

In [ ]:
df[df['volume']>10000000]

,open,high,low,close,volume,Name,vo_spike,VO_upperline,VO_lowerline,MS_YS1,MS_RK3,MS_RK4,MS_RK5,MS_RK6,MS_UP,MS_DOWN,MS_Oo,MS_CC,MS_COLOR
date,,,,,,,,,,,,,,,,,,,
2013-02-15,27.805,27.850,27.085,27.170,18195730,SBUX,-0.635,NaN,NaN,27.31875,27.997333,0.327228,-414.745967,-206.009594,-67.484680,-21.309708,-67.484680,-21.309708,red
2013-02-19,27.180,27.305,27.010,27.225,11760912,SBUX,0.045,NaN,NaN,27.19125,27.925722,0.404427,-363.215985,-240.344527,-147.994584,-47.948812,-147.994584,-47.948812,red
2013-02-20,27.300,27.420,26.590,26.655,12472506,SBUX,-0.645,NaN,NaN,26.83000,27.723398,0.454289,-393.316703,-298.478340,-167.332920,-54.460768,-167.332920,-54.460768,red
2013-02-21,26.535,26.820,26.260,26.675,13896450,SBUX,0.140,NaN,NaN,26.60750,27.546015,0.454659,-412.843312,-320.057555,-191.670122,-85.638706,-191.670122,-85.638706,red
2013-02-22,26.850,27.105,26.640,27.085,11487316,SBUX,0.235,NaN,NaN,26.97875,27.307344,0.283063,-232.170145,-344.477271,-227.272862,-112.870111,-227.272862,-112.870111,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-01,56.280,56.420,55.890,56.000,14690146,SBUX,-0.280,0.458432,-0.458432,56.07750,58.398634,0.599154,-774.803740,-198.971163,204.764726,431.064011,204.764726,431.064011,red
2018-02-02,55.900,56.320,55.700,55.770,15358909,SBUX,-0.130,0.456178,-0.456178,55.89000,57.913256,0.653311,-619.385023,-222.213237,84.581747,398.371782,84.581747,398.371782,red
2018-02-05,55.530,56.260,54.570,54.690,16059955,SBUX,-0.840,0.459153,-0.459153,55.05250,57.301337,0.852517,-527.575825,-406.410071,-9.935890,333.836097,-9.935890,333.836097,red
2018-02-06,53.685,56.060,53.560,55.610,17415065,SBUX,1.925,0.497112,-0.497112,55.21000,56.830892,0.756855,-428.322932,-477.401722,-80.695005,250.751314,-80.695005,250.751314,red
2018-02-07,55.080,55.430,54.440,54.460,13927022,SBUX,-0.620,0.501197,-0.501197,54.69750,56.238094,0.580607,-530.684149,-494.126423,-189.266694,163.855579,-189.266694,163.855579,red

In [ ]:
df.loc[(df['close'] > 60) & (df['volume']>10000000), ['close','volume']] # 다중으로 조건

            close    volume
date
2015-10-29  62.50  14839093
2015-10-30  62.57  16822302
2015-12-01  61.37  10910838
2016-01-29  60.77  13224438
2016-04-21  60.64  12799083
2017-04-20  60.08  12445862
2017-04-24  61.11  10721276
2017-04-25  60.96  11031475
2017-04-27  61.30  15285342
2017-04-28  60.06  25046130
2017-05-01  60.18  10910341
2017-05-19  61.36  12530995
2017-06-08  62.24  11289266
2017-06-09  62.19  11240487
2017-06-12  61.29  11071593
2017-06-16  60.14  11522438
2018-01-22  61.41  11945783
2018-01-23  61.69  10806783
2018-01-24  60.83  11911867
2018-01-25  60.55  16225618

## DataFrame 관리하기

In [ ]:
member= {'번호' : [1,2,3,4,5] ,
         '이름' : ['홍길동','전우치','강감찬','일지매','을지문덕'],
         '매출' : [100,200,300,250,150]}
member_1= pd.DataFrame(member)
member_1

   번호    이름   매출
0   1   홍길동  100
1   2   전우치  200
2   3   강감찬  300
3   4   일지매  250
4   5  을지문덕  150

In [ ]:
no = [1,2,3,4,5]
name = ['홍길동','전우치','강감찬','일지매','을지문덕']
sales = [100,200,300,250,150]

member=pd.DataFrame()
member['번호']=no
member['이름']=name
member['매출']=sales


member

   번호    이름   매출
0   1   홍길동  100
1   2   전우치  200
2   3   강감찬  300
3   4   일지매  250
4   5  을지문덕  150

In [ ]:
#컬럼 추가/수정
member_1['지역']=['서울', '대전', None,'전남','제주']

member_1

   번호    이름   매출    지역
0   1   홍길동  100    서울
1   2   전우치  200    대전
2   3   강감찬  300  None
3   4   일지매  250    전남
4   5  을지문덕  150    제주

In [ ]:
from numpy import nan as NA

type(NA) # float

NA==NA # False

False

In [ ]:
# Row 추가
member_1.loc[5]=[6,'김대민', 190, '울산']
member_1

   번호    이름   매출    지역
0   1   홍길동  100    서울
1   2   전우치  200    대전
2   3   강감찬  300  None
3   4   일지매  250    전남
4   5  을지문덕  150    제주
5   6   김대민  190    울산

In [ ]:
member_1.loc[8]=[8,'신사임당', 190, '강원']
member_1
#되긴 됨
#member_1.iloc[8]은 안됨

   번호    이름   매출    지역
0   1   홍길동  100    서울
1   2   전우치  200    대전
2   3   강감찬  300  None
3   4   일지매  250    전남
4   5  을지문덕  150    제주
5   6   김대민  190    울산
8   8  신사임당  190    강원

In [ ]:
member_2=member_1.drop('지역', axis=1) # axis 입력값 뒤에 0은 row 기준 1은 col기준
member_2

   번호    이름   매출
0   1   홍길동  100
1   2   전우치  200
2   3   강감찬  300
3   4   일지매  250
4   5  을지문덕  150
5   6   김대민  190
8   8  신사임당  190

In [ ]:
member_2=member_1.drop([8]) # axis 입력값 뒤에 0은 row 기준 1은 col기준
member_2

   번호    이름   매출    지역
0   1   홍길동  100    서울
1   2   전우치  200    대전
2   3   강감찬  300  None
3   4   일지매  250    전남
4   5  을지문덕  150    제주
5   6   김대민  190    울산

In [ ]:
member_2[member_2['매출']<200].index

Int64Index([0, 4, 5], dtype='int64')

In [ ]:
member_2.drop(member_2[member_2['매출']<200].index)

   번호   이름   매출    지역
1   2  전우치  200    대전
2   3  강감찬  300  None
3   4  일지매  250    전남

In [ ]:
df_2 = {'학번': ['1001','1002','1004'] ,
        '이름': ['홍길동','일지매','강감찬'] ,
        '몸무게' : [80 , 75 , 68] }
stu_2 = pd.DataFrame(df_2)
stu_2

     학번   이름  몸무게
0  1001  홍길동   80
1  1002  일지매   75
2  1004  강감찬   68

In [ ]:
df_1 = {'학번': ['1001','1002','1003'] ,
        '이름': ['홍길동','일지매','전우치'] ,
        '키' : [180 , 175 , 168] }
stu_1 = pd.DataFrame(df_1)
stu_1

     학번   이름    키
0  1001  홍길동  180
1  1002  일지매  175
2  1003  전우치  168

In [ ]:
pd.merge(stu_1, stu_2)

     학번   이름    키  몸무게
0  1001  홍길동  180   80
1  1002  일지매  175   75

In [ ]:
pd.merge(stu_1, stu_2, left_on='이름', right_on='이름')

   학번_x   이름    키  학번_y  몸무게
0  1001  홍길동  180  1001   80
1  1002  일지매  175  1002   75

In [ ]:
pd.merge(stu_1, stu_2, how='left',left_on='이름', right_on='이름') #

   학번_x   이름    키  학번_y   몸무게
0  1001  홍길동  180  1001  80.0
1  1002  일지매  175  1002  75.0
2  1003  전우치  168   NaN   NaN

In [ ]:
pd.merge(stu_1, stu_2, how='right',left_on='이름', right_on='이름') # 오른쪽 데이터 기준

   학번_x   이름      키  학번_y  몸무게
0  1001  홍길동  180.0  1001   80
1  1002  일지매  175.0  1002   75
2   NaN  강감찬    NaN  1004   68

In [ ]:
pd.merge(stu_1, stu_2, how='outer',left_on='이름', right_on='이름') # 오른쪽 데이터 기준

   학번_x   이름      키  학번_y   몸무게
0  1001  홍길동  180.0  1001  80.0
1  1002  일지매  175.0  1002  75.0
2  1003  전우치  168.0   NaN   NaN
3   NaN  강감찬    NaN  1004  68.0

In [ ]:
pd.concat([stu_1, stu_2])

     학번   이름      키   몸무게
0  1001  홍길동  180.0   NaN
1  1002  일지매  175.0   NaN
2  1003  전우치  168.0   NaN
0  1001  홍길동    NaN  80.0
1  1002  일지매    NaN  75.0
2  1004  강감찬    NaN  68.0

In [ ]:
pd.concat([stu_1, stu_2], axis=1)

     학번   이름    키    학번   이름  몸무게
0  1001  홍길동  180  1001  홍길동   80
1  1002  일지매  175  1002  일지매   75
2  1003  전우치  168  1004  강감찬   68

In [ ]:
# NaN 형과 NULL 형 관리하기
from numpy import nan as NA
import pandas as pd

member_4 = {'번호' : [1,2,3,4,5,6,7] ,
            '이름' : ['홍길동','전우치',NA,'일지매','을지문덕',NA,'김유신'],
            '매출' : [100,200,300,NA,150,NA ,250]}
member_5 = pd.DataFrame(member_4)
member_5

   번호    이름     매출
0   1   홍길동  100.0
1   2   전우치  200.0
2   3   NaN  300.0
3   4   일지매    NaN
4   5  을지문덕  150.0
5   6   NaN    NaN
6   7   김유신  250.0

In [ ]:
import numpy as np

print('이름컬럼 결측치:',np.count_nonzero(member_5['이름'].isnull( ) ))
print('매출컬럼 이상치:',np.count_nonzero(member_5['매출'].isna( ) ))

이름컬럼 결측치: 2
매출컬럼 이상치: 2

In [ ]:
member_5.fillna(0)

   번호    이름     매출
0   1   홍길동  100.0
1   2   전우치  200.0
2   3     0  300.0
3   4   일지매    0.0
4   5  을지문덕  150.0
5   6     0    0.0
6   7   김유신  250.0

In [ ]:
member_5['매출'].mean()

200.0

In [ ]:
member_5.fillna(member_5['매출'].mean()) #군집의 평균, 평균에 주지 않음

   번호     이름     매출
0   1    홍길동  100.0
1   2    전우치  200.0
2   3  200.0  300.0
3   4    일지매  200.0
4   5   을지문덕  150.0
5   6  200.0  200.0
6   7    김유신  250.0

In [ ]:
member_5['이름'].fillna('Nameless')

0         홍길동
1         전우치
2    Nameless
3         일지매
4        을지문덕
5    Nameless
6         김유신
Name: 이름, dtype: object

In [ ]:
member_5.dropna() #

   번호    이름     매출
0   1   홍길동  100.0
1   2   전우치  200.0
4   5  을지문덕  150.0
6   7   김유신  250.0

In [ ]:
score = {'번호' : [1,2,3,4,5,6] ,
         '이름' : ['홍길동','홍길동','홍길동','일지매','일지매','일지매'],
         '과목' : ['수학','과학','빅데이터','수학','과학','빅데이터'] ,
         '점수' : [90,80,70,75,85,95]}
score_1 = pd.DataFrame(score)
score_1

   번호   이름    과목  점수
0   1  홍길동    수학  90
1   2  홍길동    과학  80
2   3  홍길동  빅데이터  70
3   4  일지매    수학  75
4   5  일지매    과학  85
5   6  일지매  빅데이터  95

In [ ]:
score_1['과목'].drop_duplicates()
score_1

   번호   이름    과목  점수
0   1  홍길동    수학  90
1   2  홍길동    과학  80
2   3  홍길동  빅데이터  70
3   4  일지매    수학  75
4   5  일지매    과학  85
5   6  일지매  빅데이터  95

In [ ]:
# Aggregation
member_6 = {'번호' : [1,2,3,4,5,6] ,
            '팀명' : ['영업1팀','영업2팀','영업3팀','영업2팀','영업1팀','영업3팀'],
            '이름' : ['홍길동','전우치','일지매','을지문덕','홍길동','일지매'],
            '매출' : [100,200,300,150,250,350]}

member_7 = pd.DataFrame(member_6 , columns=['번호','팀명','이름','매출'])
member_7

   번호    팀명    이름   매출
0   1  영업1팀   홍길동  100
1   2  영업2팀   전우치  200
2   3  영업3팀   일지매  300
3   4  영업2팀  을지문덕  150
4   5  영업1팀   홍길동  250
5   6  영업3팀   일지매  350

In [ ]:
group_1 =  member_7['매출'].groupby(member_7['팀명'])
group_1.sum()

팀명
영업1팀    350
영업2팀    350
영업3팀    650
Name: 매출, dtype: int64

In [ ]:
group_1.std()

팀명
영업1팀    106.066017
영업2팀     35.355339
영업3팀     35.355339
Name: 매출, dtype: float64

In [ ]:
group_1.var()

팀명
영업1팀    11250.0
영업2팀     1250.0
영업3팀     1250.0
Name: 매출, dtype: float64

In [ ]:
%cd /content/drive/MyDrive/실습용자료

!ls

/content/drive/MyDrive/실습용자료
 1군전염병발병현황_년도별_2.csv   공부시간과시험점수2.csv
 adult.csv			  공부시간과시험점수3.csv
 adult.data			  공부시간과시험점수.csv
 adult.data.1			  공부시간과시험합격.csv
 adult_test.csv			  과일2개.csv
 blob.csv			  과일3개.csv
 BostonHousing.csv		  과일채소목록_2.csv
 breast_cancer.csv		  과일채소목록.csv
 BTC-USD.csv			  과학자들.csv
 cancer.csv			  네이버영화후기_전처리전.xlsx
 desktop.ini			  맨하탄주택가격.csv
 df_final.csv			  부품구입대장2.xls
 fish1.csv			  부품구입대장3.xls
 fish2.csv			  부품구입대장.xlsx
 fish3.csv			  붓꽃정보.csv
 fish.csv			  붓꽃_최종.csv
 fish_perch3.csv		  사무용비품신청내역.xlsx
 fish_perch.csv			  사원별판매현황_홍길동.csv
 heart.jpg			  사원별판매현황_홍길동_utf8.csv
 iris.csv			  상세거래내역_1.csv
 korea.jpg			  상세거래내역_2.csv
 out_sample.csv			  상품내역_마스터.csv
'sbux (1).csv'			  수박과참외.csv
 SBUX.csv			  와인.csv
 score.xlsx			  음식.csv
 thyroid0387.data		  의사결정나무_과일종류_2가지.csv
 wave.csv			  키와뭄무게.csv
 거래내역_1.csv			  학생_만족도_조사_실습.xlsx
 거래내역_2.csv			  학생별과목별성적_3명.csv
 고객과금장부.xlsx		  홍길동시험점수.csv
 고객정보_마스터.csv

34p 문제풀기

In [ ]:
path='/content/drive/MyDrive/실습용자료'

import pandas as pd

data1 = pd.read_excel('부품구입대장.xlsx', header=3)
data1

         신청날짜 사업장          품목  수량       단가        금액
0  2019-08-23  석수       ANGLE  21    32000    672000
1  2019-09-09  석수          백관  44    56000   2464000
2  2019-06-18  석수         절연판  40    45000   1800000
3  2019-03-13  석수  P/Z O-RING  11    38000    418000
4  2019-05-11  석수         알코올  38     8000    304000
5  2019-06-28  석수         실리콘  30   150000   4500000
6  2019-02-16  석수         소모품   4     2200      8800
7  2019-10-22  석수       MOTOR  14    30000    420000
8  2019-03-18  석수  PAPER BRSH  13    40000    520000
9  2019-07-17  석수        불화카리  23    83000   1909000
10 2019-07-23  석수         마크펜  33     3000     99000
11 2019-03-20  석수         NUT  20    15000    300000
12 2019-01-27  석수         윤활유  30  2000000  60000000
13 2019-07-11  석수         소모품  50     2200    110000
14 2019-05-16  석수        BITE  14    86000   1204000

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   신청날짜    15 non-null     datetime64[ns]
 1   사업장     15 non-null     object
 2   품목      15 non-null     object
 3   수량      15 non-null     int64
 4   단가      15 non-null     int64
 5   금액      15 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 848.0+ bytes

2. 답 : 14개 6개
3. 답 : 신청날짜, 사업장, 품목, 수량. 단가. 금액

In [ ]:
data1[(data1['품목'] == '알코올')]

        신청날짜 사업장   품목  수량    단가      금액
4 2019-05-11  석수  알코올  38  8000  304000

In [ ]:
data1.loc[(data1['품목'] == '알코올') & (data1['수량']>=35)] # 다중으로 조건

        신청날짜 사업장   품목  수량    단가      금액
4 2019-05-11  석수  알코올  38  8000  304000

In [ ]:
data1.sort_values(by = '금액', ascending = False).head(10)

         신청날짜 사업장          품목  수량       단가        금액
12 2019-01-27  석수         윤활유  30  2000000  60000000
5  2019-06-28  석수         실리콘  30   150000   4500000
1  2019-09-09  석수          백관  44    56000   2464000
9  2019-07-17  석수        불화카리  23    83000   1909000
2  2019-06-18  석수         절연판  40    45000   1800000
14 2019-05-16  석수        BITE  14    86000   1204000
0  2019-08-23  석수       ANGLE  21    32000    672000
8  2019-03-18  석수  PAPER BRSH  13    40000    520000
7  2019-10-22  석수       MOTOR  14    30000    420000
3  2019-03-13  석수  P/Z O-RING  11    38000    418000

In [ ]:
data2=data1.sort_values(by = '수량', ascending = False).head(10)
data2
data2[['사업장','품목','수량']]

   사업장     품목  수량
13  석수    소모품  50
1   석수     백관  44
2   석수    절연판  40
4   석수    알코올  38
10  석수    마크펜  33
5   석수    실리콘  30
12  석수    윤활유  30
9   석수   불화카리  23
0   석수  ANGLE  21
11  석수    NUT  20